# Medidas de posição e dispersão

In [2]:
import numpy as np
import statistics
from scipy import stats
import math

In [3]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155,155,156,156,156,157,158,158,160,160,160,160,160,160,161,161,161,162,163,163,164,164,164,165,166,167,168,169,170,172,173])

## Média Aritmética Simples

In [4]:
dados.sum() / len(dados)

160.28947368421052

In [5]:
dados.mean()

160.28947368421052

In [6]:
statistics.mean(dados)

160

## Moda

In [7]:
statistics.mode(dados)

160

In [8]:
stats.mode(dados)

C:\Users\danie\AppData\Local\Temp\ipykernel_23868\1745492432.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(dados)

ModeResult(mode=array([160]), count=array([6]))

## Mediana

In [9]:
dados_impar = [150,151,152,152,153,154,155,155,155]
dados_impar

[150, 151, 152, 152, 153, 154, 155, 155, 155]

### Calculo Manual (ímpar)

In [10]:
posicao = len(dados_impar) / 2
posicao

4.5

In [11]:
posicao = math.ceil(posicao)
posicao

5

In [12]:
dados_impar[posicao-1]

153

### Calculo Manual (par)

In [13]:
posicao = len(dados) // 2
posicao

19

In [14]:
dados[posicao-1], dados[posicao]

(160, 160)

In [15]:
mediana = (dados[posicao-1] + dados[posicao]) / 2
mediana

160.0

### Bibliotecas

In [16]:
np.median(dados_impar)

153.0

In [17]:
np.median(dados)

160.0

In [18]:
statistics.median(dados_impar)

153

In [19]:
statistics.median(dados)

160.0

## Média Aritmética Ponderada

In [20]:
notas = np.array([9,8,7,3])
pesos = np.array([1, 2, 3, 4])

In [21]:
(9 * 1 + 8 * 2 + 7 * 3 + 3 * 4) / (1 + 2 + 3 + 4)

5.8

In [22]:
media_ponderada = (notas * pesos).sum() / pesos.sum()
media_ponderada

5.8

In [23]:
np.average(notas, weights=pesos)

5.8

## Média Aritmética, Moda e Mediana com distribuições de frequência - Dados Agrupados

In [24]:
dados = {'inferior': [150, 154, 158, 162, 166, 170],
        'superior': [154, 158, 162, 166, 170, 174],
        'fi': [5, 9, 11, 7, 5, 3]}

In [25]:
import pandas as pd
dataset = pd.DataFrame(dados)
dataset

   inferior  superior  fi
0       150       154   5
1       154       158   9
2       158       162  11
3       162       166   7
4       166       170   5
5       170       174   3

In [26]:
dataset['xi'] = (dataset['superior'] + dataset['inferior']) / 2
dataset

   inferior  superior  fi     xi
0       150       154   5  152.0
1       154       158   9  156.0
2       158       162  11  160.0
3       162       166   7  164.0
4       166       170   5  168.0
5       170       174   3  172.0

In [27]:
dataset['fi.xi'] = dataset['fi'] * dataset['xi']
dataset

   inferior  superior  fi     xi   fi.xi
0       150       154   5  152.0   760.0
1       154       158   9  156.0  1404.0
2       158       162  11  160.0  1760.0
3       162       166   7  164.0  1148.0
4       166       170   5  168.0   840.0
5       170       174   3  172.0   516.0

In [28]:
dataset['Fi'] = 0
dataset

   inferior  superior  fi     xi   fi.xi  Fi
0       150       154   5  152.0   760.0   0
1       154       158   9  156.0  1404.0   0
2       158       162  11  160.0  1760.0   0
3       162       166   7  164.0  1148.0   0
4       166       170   5  168.0   840.0   0
5       170       174   3  172.0   516.0   0

In [29]:
frequencia_acumulada = []
somatorio = 0
for linha in dataset.iterrows():
    somatorio += linha[1][2]
    frequencia_acumulada.append(somatorio)

frequencia_acumulada

[5.0, 14.0, 25.0, 32.0, 37.0, 40.0]

In [30]:
dataset['Fi'] = frequencia_acumulada

In [31]:
dataset

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

### Média

In [32]:
dataset['fi'].sum(), dataset['fi.xi'].sum()

(40, 6428.0)

In [33]:
dataset['fi.xi'].sum() / dataset['fi'].sum()

160.7

### Moda

In [34]:
dataset['fi'].max()

11

In [35]:
dataset[dataset['fi'] == dataset['fi'].max()]['xi'].values[0]

160.0

### Mediana

In [36]:
dataset

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

In [37]:
fi_2 = dataset['fi'].sum() / 2
fi_2

20.0

In [38]:
limite_inferior, frequencia_classe, id_frequencia_anterior = 0,0,0
for linha in dataset.iterrows():
    limite_inferior = linha[1][0]
    frequencia_classe = linha[1][2]
    id_frequencia_anterior = linha[0]
    if linha[1][5] >= fi_2:
        id_frequencia_anterior -= 1
        break

In [39]:
limite_inferior, frequencia_classe, id_frequencia_anterior

(158.0, 11.0, 1)

In [40]:
Fi_anterior = dataset.iloc[[id_frequencia_anterior]]['Fi'].values[0]
Fi_anterior

14.0

In [41]:
mediana = limite_inferior + (((fi_2 - Fi_anterior) * 4)) / frequencia_classe
mediana

160.1818181818182

## Média Geométrica, Harmônica e Quadrática

### Média Geométrica

In [42]:
from scipy.stats.mstats import gmean

In [62]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

In [44]:
gmean(dados)

160.26958390038902

### Média Harmônica

In [45]:
from scipy.stats.mstats import hmean

In [46]:
hmean(dados)

160.1647194799467

### Média Quadrática

In [47]:
def quadratic_mean(dados):
    return math.sqrt(sum(n * n for n in dados) / len(dados))

In [48]:
quadratic_mean(dados)

160.48091786876097

## Quartis

In [49]:
dados_impar = [150, 151, 152, 152, 153, 154, 155, 155, 155]

### Cálculo Manual

In [50]:
np.median(dados_impar)

153.0

In [51]:
posicao_mediana = math.floor(len(dados_impar) / 2)
posicao_mediana

4

In [52]:
esquerda = dados_impar[0:posicao_mediana]
esquerda

[150, 151, 152, 152]

In [53]:
np.median(esquerda)

151.5

In [54]:
direita = dados_impar[posicao_mediana + 1:]
direita

[154, 155, 155, 155]

In [55]:
np.median(direita)

155.0

### Bibliotecas

In [56]:
np.quantile(dados_impar, 0.5)

153.0

In [57]:
np.quantile(dados_impar, 0.75)

155.0

In [58]:
np.quantile(dados_impar, 0.25)

152.0

In [59]:
stats.scoreatpercentile(dados, 25), stats.scoreatpercentile(dados, 50), stats.scoreatpercentile(dados, 75)

(155.75, 160.0, 164.0)

In [60]:
dataset.quantile([0.25, 0.5, 0.75])

      inferior  superior   fi     xi   fi.xi     Fi
0.25     155.0     159.0  5.0  157.0   780.0  16.75
0.50     160.0     164.0  6.0  162.0   994.0  28.50
0.75     165.0     169.0  8.5  167.0  1340.0  35.75

## Percentis

In [63]:
np.median(dados)

160.0

In [64]:
np.quantile(dados, 0.5)

160.0

In [65]:
np.percentile(dados, 50)

160.0

In [67]:
np.percentile(dados, 5), np.percentile(dados, 10), np.percentile(dados, 90)

(151.95, 152.9, 168.1)