# Amostrgaem Estratificada

In [6]:
import pandas as pd
import numpy as np
import random
dataset = pd.read_csv("..\\DATABASES\\census.csv")
dataset.shape

(32561, 15)

In [7]:
from sklearn.model_selection import StratifiedShuffleSplit

In [8]:
dataset['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [9]:
7841 / len(dataset), 24720 / len(dataset) # Representatividade

(0.2408095574460244, 0.7591904425539756)

In [10]:
100 / len(dataset)

0.0030711587481956942

In [11]:
split = StratifiedShuffleSplit(test_size=0.0030711587481956942)

for x, y in split.split(dataset, dataset['income']):
    df_x = dataset.iloc[x]
    df_y = dataset.iloc[y]

In [12]:
df_x.shape, df_y.shape

((32461, 15), (100, 15))

In [13]:
df_y.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
13776,64,Local-gov,182866,HS-grad,9,Widowed,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
11074,53,Private,92430,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
11282,40,Private,274158,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
15382,51,Private,108435,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,47,United-States,>50K
19435,49,Private,411273,10th,6,Divorced,Machine-op-inspct,Not-in-family,Black,Male,0,0,40,United-States,<=50K

In [14]:
df_y['income'].value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64

In [15]:
def amostragem_estratitifcada(dataset, percentual):
    split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
    for _, y in split.split(dataset, dataset['income']):
        df_y = dataset.iloc[y]
    return df_y

In [16]:
df_amostragem_estratificada = amostragem_estratitifcada(dataset, 100 / len(dataset))
df_amostragem_estratificada.shape

(100, 15)